html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #d8dee9;
  border-bottom: 1px solid #2e3440;
}
main {
  overflow-y: scroll;
  flex: 1;
  background-color: #eceff4;

  .sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    section {
      border: 1px solid #2e3440;
      border-radius: 0.25rem;
      background-color: #d8dee9;
    }
  }
}



// .menu-container {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   min-width: 100vw;
//   min-height: 100vh;
//   max-width: 100vw;
//   max-height: 100vh;
//   border-radius: 0.5rem;
//   /*  */

//   .menu {
//     
//     min-height: 10vh;
//   }
//   .content {
//     
//     min-height: 90vh;
//   }
// }