@import "~@angular/material/theming";

@mixin content-theme($theme) {

  // Theme properties.
  $primary: map-get($theme, primary);
  $theme-foreground: map-get($theme, foreground);
  $theme-background: map-get($theme, background);
  $is-dark: map-get($theme, is-dark);
  $color: map-get($theme-foreground, text);
  $background: map-get($theme-background, card);
  $divider: map-get($theme-foreground, divider);

  // Content container.
  .content {
    background-color: $background;
    color: $color;

    // Markdown component styles.
    a {
      // Link text theme support.
      @if $is-dark {
        color: mat-color($primary, 300);
        &:hover {
          color: mat-color($primary, 100);
        }
      } @else {
        color: mat-color($primary, 400);
        &:hover {
          color: mat-color($primary, 700);
        }
      }
    }

    // References container.
    .references {
      border-top: 2px solid $divider;

      .text {
        margin-left: 10px;
      }
    }
  }

}
