@import "~@angular/material/theming";

@mixin content-theme($theme) {

  // Theme properties.
  $accent: map-get($theme, accent);
  $theme-foreground: map-get($theme, foreground);
  $theme-background: map-get($theme, background);
  $color: map-get($theme-foreground, text);
  $background: map-get($theme-background, card);
  $divider: map-get($theme-foreground, divider);
  // TODO: Light theme support.
  $link-color: mat-color($accent, 300);
  $link-color-hover: mat-color($accent, 100);

  // Content container.
  .content {
    background-color: $background;
    color: $color;

    // Markdown component styles.
    a {
      color: $link-color;
      &:hover {
        color: $link-color-hover;
      }
    }

    // References container.
    .references {
      border-top: 2px solid $divider;

      .text {
        margin-left: 10px;
      }
    }
  }

}
