<div class="home">
  <!-- TODO: Home content. -->
  <!-- <AppContent>...</AppContent> -->

  <!-- Home tiles grid. -->
  <md-grid-list cols="4" rowHeight="2:1" [gutterSize]="tileGutterSize">
    <ng-container *ngFor="let tile of tiles; let i = index">

      <md-grid-tile class="mat-elevation-z8" [colspan]="tileColumnSpans[i]" [rowspan]="tileRowSpans[i]">
        <div class="tile" fxLayout="column">

          <img class="background" [src]="tileBackground(tile)">
          <div class="overlay-container" fxLayout="column">
            <div class="overlay mat-elevation-z8">
              <a [routerLink]="tile.link">
                <div class="overlay-content">
                  <h2>{{ tile.title }}</h2>
                  <p>{{ tile.description }}</p>
                </div>
              </a>
            </div>
          </div>

        </div>
      </md-grid-tile>

    </ng-container>
  </md-grid-list>
</div>
