@import "~@angular/material/theming";

@mixin home-theme($theme) {

  // Theme properties.
  $primary: map-get($theme, primary);
  $theme-foreground: map-get($theme, foreground);
  $theme-background: map-get($theme, background);
  $color: map-get($theme-foreground, text);
  $background: map-get($theme-background, card);
  $primary-background: mat-color($primary);
  $primary-border: mat-color($primary);

  // Home container.
  .home {
    .tile {
      background-color: $background;
      color: $color;

      // Tile overlay content.
      .overlay {
        background-color: $background;
        border: 2px solid $primary-border;
        border-radius: 1px;

        &:hover {
          background-color: $primary-background;
        }
      }
    }

  }

}
