
// Container padding.
.app-padding-sm {
  padding: 5px;
  box-sizing: border-box;
}
.app-padding-md {
  padding: 16px 0;
  box-sizing: border-box;
}

// Application root element.
.app {
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;

  // Application container sizes.
  .app-xs {
    @extend .app-padding-sm;
    min-width: 100%;
    max-width: 100%;
  }
  .app-sm {
    @extend .app-padding-sm;
    min-width: 600px;
    max-width: 600px;
  }
  .app-md {
    @extend .app-padding-md;
    min-width: 840px;
    max-width: 840px;
  }
  .app-lg {
    @extend .app-padding-md;
    min-width: 960px;
    max-width: 960px;
  }

  // Application header.
  .header {
    margin-bottom: 5px;

    // Header content spacer.
    .space {
      flex: 1 1 auto;
    }
    // Header buttons.
    .button {
      height: 100%;

      // Responsive heights based on Material toolbar sizes.
      .large-icon {
        height: 46px;
        width: 46px;
        @media (max-width: 600px) {
          height: 42px;
          width: 42px;
        }
      }
      .text {
        font-size: 1.2em;
        font-weight: bold;
        margin-left: 6px;
        line-height: 64px;
        @media (max-width: 600px) {
          line-height: 54px;
        }
      }
    }
  }
}
