<div class="app" fxLayout="column" fxLayoutAlign="start center">

  <!-- Application container. -->
  <div class.xs="app-xs" class.sm="app-sm" class.md="app-md" class.gt-md="app-lg">

    <!-- Application header. -->
    <header class="header mat-elevation-z8" role="banner">
      <md-toolbar color="accent">
        <a md-button class="button" routerLink="/" aria-label="Home">
          <md-icon [svgIcon]="icons.mojzu" class="large-icon"></md-icon>
          <span class="text">MojzuNet</span>
        </a>
        <span class="space"></span>
        <a md-button class="button" href="https://github.com/mojzunet" aria-label="GitHub">
          <md-icon [svgIcon]="icons.github"></md-icon>
          <span class="text">GitHub</span>
        </a>
      </md-toolbar>
    </header>

    <!-- Application main container. -->
    <main class="main" role="main">

      <!-- Application router. -->
      <router-outlet></router-outlet>

    </main>

  </div>

</div>
