@import "~@angular/material/theming";

@mixin app-theme($theme) {

  // Theme properties.
  $theme-background: map-get($theme, background);
  $background: map-get($theme-background, background);

  // Application root element.
  .app {
    background: $background;
  }

  // Header theme menu overrides.
  // Not scoped to container, appears in overlay.
  div.mat-menu-panel.theme-menu {
    min-width: 80px;

    // Header theme buttons.
    a.mat-menu-item {
      padding: 4px 16px;

      .theme-button {
        height: 100%;
        border-radius: 100%;
      }
    }
  }

}
