.container {

}
.header-container {
  max-width: 210mm;
}
.header-container-xs {
  background-color: #AFAFAF;
}
.header {

}
.main-container {
  max-width: 210mm;
}
.main-container-xs {
  background-color: #AFAFAF;
}
.main {

}
.footer-container {
  max-width: 210mm;
}
.footer-container-xs {
  background-color: #AFAFAF;
}
.footer {

}
