<div class="app-container">
  <div class="app" fxLayout="column" fxLayoutAlign="start center">

    <!-- Application header. -->
    <div class.xs="app-header-xs" class.sm="app-header-sm" class.md="app-header-md" class.gt-md="app-header-lg">
      <header class="app-header" role="banner">

      </header>
    </div>

    <!-- Application main content. -->
    <div class.xs="app-main-xs" class.sm="app-main-sm" class.md="app-main-md" class.gt-md="app-main-lg">
      <main class="app-main" role="main">

        <!-- Application main header. -->
        <div class="app-main-header mat-elevation-z8">
          <md-toolbar color="accent">
            <a md-button class="button" routerLink="/">
              <!-- TODO: Add home icon. -->
              <h1>Sam Ward</h1>
            </a>
            <span class="header-spacer"></span>
            <a md-button class="button" href="https://github.com/mojzunet" target="_blank" aria-label="GitHub Profile">
              <md-icon svgIcon="github"></md-icon>
              <span class="button-text">GitHub</span>
            </a>
          </md-toolbar>
        </div>

        <!-- Application router. -->
        <router-outlet></router-outlet>

      </main>
    </div>

  </div>
</div>
