@import "~@angular/material/theming";

@mixin app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-background: mat-color($primary, 50, 20);
  $logo-size: 120px;

  // Container.
  .container-overlay {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
  }
  .container-primary-overlay {
    @extend .container-overlay;
    z-index: 10;
    background-image: url("./styles/images/background-accent.png");
    background-size: 800px;
    background-attachment: fixed;
  }
  .container-secondary-overlay {
    @extend .container-overlay;
    z-index: 20;
    background-image: url("./styles/images/background-primary.png");
    background-size: 800px;
  }
  .container {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    background-color: $primary-background;
  }
  .container-xs {
    z-index: 30;
    width: 100%;
    max-width: 100%;
  }
  .container-sm {
    z-index: 30;
    width: 600px;
    max-width: 600px;
  }
  .container-md {
    z-index: 30;
    width: 840px;
    max-width: 840px;
  }
  .container-lg {
    z-index: 30;
    width: 960px;
    max-width: 960px;
  }
  // Header.
  .header-container {
    height: $logo-size;
    max-height: $logo-size;
  }
  .header {
    height: 100%;
    width: 100%;
    background-image: url("./styles/images/logo.png");
    background-size: $logo-size;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header-container-xs {
    @extend .container-xs;
    @extend .header-container;
  }
  .header-container-sm {
    @extend .container-sm;
    @extend .header-container;
  }
  .header-container-md {
    @extend .container-md;
    @extend .header-container;
  }
  .header-container-lg {
    @extend .container-lg;
    @extend .header-container;
  }
  // Main.
  .main-container-sm {
    padding: 0 5px 5px 5px;
  }
  .main-container-md {
    padding: 0 10px 10px 10px;
  }
  .main {
    width: 100%;
    min-width: 100%;
    border: 1px solid mat-color($primary, A400);
    border-radius: 2px;
  }
  .main-container-xs {
    @extend .container-xs;
    @extend .main-container-sm;
  }
  .main-container-sm {
    @extend .container-sm;
    @extend .main-container-sm;
  }
  .main-container-md {
    @extend .container-md;
    @extend .main-container-md;
  }
  .main-container-lg {
    @extend .container-lg;
    @extend .main-container-md;
  }
}
