<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <div class.xs="header-container-xs" class.sm="header-container-sm" class.md="header-container-md" class.gt-md="header-container-lg">
    <header class="header" role="banner"></header>
  </div>

  <div class.xs="main-container-xs" class.sm="main-container-sm" class.md="main-container-md" class.gt-md="main-container-lg"
    fxLayout="column" fxLayoutAlign="center center">
    <main class="main mat-elevation-z8" role="main">
      <md-toolbar color="primary">MojzuNet</md-toolbar>
      <router-outlet></router-outlet>
    </main>
  </div>

  <div class="footer-container" class.xs="footer-container-xs">
    <footer class="footer" role="contentinfo"></footer>
  </div>
</div>
