@import "~@angular/material/theming";

@mixin margin-calculator-theme($theme) {

  // Theme properties.
  $primary: map-get($theme, primary);
  $primary-border: mat-color($primary, 800);
  $background: mat-color($mat-grey, 50);

  // Margin calculator container.
  .margin-calculator-container {
    padding: 1px;
  }

  // Margin calculator elements.
  .margin-calculator-content {
    box-sizing: border-box;
    border: 1px solid $primary-border;
    border-radius: 1px;
    background-color: $background;
    margin-bottom: 1px;

    h2 {
      margin: 0.83em;
    }
  }

}
