@import "~normalize.css/normalize.css";
@import "~@angular/material/theming";
@import "app/app.component.scss";

@include mat-core();

$mojzunet-primary: mat-palette($mat-deep-purple);
$mojzunet-accent: mat-palette($mat-light-green);
$mojzunet-theme: mat-light-theme($mojzunet-primary, $mojzunet-accent);

@include angular-material-theme($mojzunet-theme);
@include app-component-theme($mojzunet-theme);
