@import "~normalize.css/normalize.css";
@import "~@angular/material/theming";

// Component mixins.
@import "app/app.theme.scss";
@import "app/components/content/content.theme.scss";
@import "app/components/home/home.theme.scss";

// Google fonts.
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
$open-sans: "Open Sans", sans-serif;

// Common styles.
a {
  color: inherit;
  text-decoration: none;
}

// Typography configuration.
$mojzunet-typography: mat-typography-config(
  $font-family: $open-sans
);

// Angular material.
@include mat-core($mojzunet-typography);

// Angular material theme.
$mojzunet-primary: mat-palette($mat-blue-grey);
$mojzunet-accent: mat-palette($mat-indigo);
$mojzunet-theme: mat-dark-theme($mojzunet-primary, $mojzunet-accent);
@include angular-material-theme($mojzunet-theme);

// Component mixin themes.
@include app-theme($mojzunet-theme);
@include content-theme($mojzunet-theme);
@include home-theme($mojzunet-theme);
