@import "~normalize.css/normalize.css";
@import "~@angular/material/theming";
@import "app/app.scss";
@import "app/components/home/home.scss";
@import "app/components/margin-calculator/margin-calculator.scss";

// Google fonts.
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
$open-sans: "Open Sans", sans-serif;

body {
  font-family: $open-sans;
}

a {
  text-decoration: none;
}

@include mat-core();

$mojzunet-primary: mat-palette($mat-blue-grey);
$mojzunet-accent: mat-palette($mat-indigo);
$mojzunet-theme: mat-light-theme($mojzunet-primary, $mojzunet-accent);

@include angular-material-theme($mojzunet-theme);
@include app-theme($mojzunet-theme);
@include home-theme($mojzunet-theme);
@include margin-calculator-theme($mojzunet-theme);
